<div class="content-section implementation">
  <p-dataView #dv [value]="displayData$ | async" [paginator]="true" [rows]="3" paginatorPosition="both"
              filterBy="{{searchBy$ | async}}" [loading]="false">

    <p-header>
      <div class="ui-helper-clearfix">
        <div class="ui-g">
          <div class="ui-g-6 ui-md-8 filter-container">
            <div style="position:relative">
              <input type="search" pInputText placeholder="Search by {{searchBy$ | async}}" (keyup)="dv.filter($event.target.value)">
            </div>
          </div>
          <div class="ui-g-6 ui-md-4" style="text-align:right">
            <button pButton type="button" class="ui-button-raised ui-button-success add-new-item-button" label="New"
                    icon="fa fa-plus" (click)="showDialog()"></button>
          </div>
        </div>
      </div>
    </p-header>

    <ng-template let-item pTemplate="listItem">
      <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <div class="ui-g-3" style="text-align:center">
          <img class="admin-table-row-image" src="{{item.image || '/assets/images/user.png'}}">
        </div>
        <div class="ui-g-6 ui-g-nopad car-details">
          <div class="ui-g" *ngFor="let key of rowDisplayKeys$ | objectKeys">
            <div class="ui-g-6 item-details-key">{{rowDisplayKeys$[key]}}</div>
            <div class="ui-g-6 item-details-value"><b>{{item[key]}}</b></div>
          </div>
        </div>
        <div class="ui-g-3">
          <div class="item-buttons-wrapper">
            <button pButton type="button" class="ui-button-raised item-button" label="Edit"
                    (click)="showDialog(item.id)"></button>
            <button pButton type="button" class="ui-button-raised ui-button-danger item-button" label="Deactivate" (click)="showDeleteDialog(item.id)"></button>
          </div>
        </div>
      </div>
    </ng-template>

  </p-dataView>
</div>
