<div class="modal-header">
  <h4 class="modal-title">Confirm Delete</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Are you sure you want to discard it?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="close()" *ngIf="!loading">Cancel</button>
  <button type="submit" class="btn btn-outline-primary" (click)="submitForm()" *ngIf="!loading">OK
  </button>
  <app-loading-spinner [loading]="loading"></app-loading-spinner>
</div>

