.fill-remaining-space {
  flex: 1 1 auto;

}

.nav-bar {
  opacity: 0.8;
  background-color: black;
  position: fixed;
  z-index: 10;
}

.nav-bar-logo{
  display: inline-block;
  height: 100%;
  width: 100px;
}

.hello-user{
  margin-left: 50px;
  font-size: 17px;
}

.nav-bar-username-hello{
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
}

