form {
  color: #336699;
  font-size: 18px;
  padding: 10px;
  width: 298px;
  margin: 0 auto;
}

input {
  display: block;
  font-size: 18px;
  padding-left: 10px;
  width: 275px;
}

button {
  font-size: 24px;
  color: #556b8e;
}

button:disabled {
  color: #999999;
}

.header {
  color: #336699;
  text-align: center;
  padding-top: 20px;
  margin-top: 0;
}

.form-group {
  margin: 10px;
}

.buttons {
  text-align: right;
  margin-right: 0px;
}


em {
  float: right;
  color: #E05C65;
  padding-left: 10px;
}

.error input, .error select, .error textarea {
  background-color: #E3C3C5;
}

.error ::-webkit-input-placeholder {
  color: #999;
}

.error :-moz-placeholder {
  color: #999;
}

.error ::-moz-placeholder {
  color: #999;
}


.mat-card {
  max-width: 400px;
  margin: 10px auto;
  text-align: center;
}

.signin-content {
  padding: 60px 1rem;
}

.full-width-input {
  width: 100%;
}

.please-login-text {
  margin-top: -10px;
}

.register-buttons-wrapper {
  margin-top: 10px;
}

.register-save-button{
  margin-left: 5px;
  background-color: saddlebrown;
}
.register-cancel-button{
  margin-right: 5px;
  background-color: #574b40
}

.register-logo-wrapper {
  width: 15%;
  height: 15%;
  margin: 10px auto;
}


