<div class="sign-in-logo-wrapper">
  <app-coffee-shop-logo></app-coffee-shop-logo>
</div>
<div class="sign-in-component">
  <mat-card>
    <mat-card-content>
      <h2>Welcome to CoffeeShop</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p class="please-login-text">Please login to continue</p>
        <mat-form-field class="full-width-input">
          <input type="text" matInput placeholder="Username" formControlName="username" class="form-control" required/>
          <mat-error *ngIf="isFieldInvalid('username')">
            Please enter your user name
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">
            Please enter your password
          </mat-error>
        </mat-form-field>


        <div class="login-buttons-wrapper" *ngIf="!loading">
          <button class="login-button" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
          <a [routerLink]="[registerLink]" class="btn btn-link register-button">Register</a>
        </div>
        <app-loading-spinner [loading]="loading"></app-loading-spinner>

      </form>
    </mat-card-content>
  </mat-card>
</div>
