<div class="modal-header">
  <h4 class="modal-title">Edit Component</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="newComponentForm" [formGroup]="componentForm">
    <div class="form-group" aria-invalid="true">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Enter component name" required
             [ngClass]="{'is-invalid':isFieldInvalid('name')}">
    </div>
    <div class="form-group">
      <label>Type</label>
      <input type="text" class="form-control" formControlName="type" placeholder="Enter component type" required
             [ngClass]="{'is-invalid':isFieldInvalid('type')}">
    </div>
    <div class="form-group">
      <label>Amount</label>
      <input type="number" class="form-control" formControlName="amount" placeholder="Enter amount" required
             [ngClass]="{'is-invalid':isFieldInvalid('amount')}">
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="number" class="form-control" formControlName="price" placeholder="Enter price" required
             [ngClass]="{'is-invalid':isFieldInvalid('price')}">
    </div>
    <div class="form-group">
      <label>Image Link</label>
      <input type="text" class="form-control" formControlName="image" placeholder="Enter image link" required
             [ngClass]="{'is-invalid':isFieldInvalid('image')}">
    </div>
    <div class="form-group">
      <label>User Status</label>
      <select class="form-control" formControlName="status">
        <option *ngFor="let status of componentStatus | objectKeys" [ngValue]="status">{{status}}</option>
      </select>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="close()" *ngIf="!loading">Cancel</button>
  <button type="submit" class="btn btn-outline-primary" (click)="submitForm()" *ngIf="!loading"
          [disabled]="componentForm.invalid">Submit
  </button>
  <app-loading-spinner [loading]="loading"></app-loading-spinner>
</div>

