.product-component-selection{
  padding: 0;
}

:host >>> .product-component-selection-input{
  width: 450px;
}

.product-component-selection-label{
  display: block;
}

:host >>> .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token{
  margin-top: 4px;
  background: #612ebb;
}
