.product-menu-card-wrapper {
  max-width: 500px;
  background-color: #0202027a;
  border-radius: 5%;
  color: gainsboro;
  padding: 15px;
  margin: auto;
  height: 95%;
}

.product-menu-card-image {
  width: 250px;
  margin: 0;
}

.product-menu-card-image-wrapper {
  padding: 10px;
}

.product-menu-card-wrapper{
  width: 100%;
}

.product-menu-card-wrapper {
  text-align: center;
}

.product-menu-card-header-wrapper {
  display: block;
}

.mat-card-image:first-child {
  margin: 0;
}

.product-menu-card-title {
  margin-bottom: 0;
}
