<mat-card class="product-menu-card-wrapper">
  <mat-card-header class="product-menu-card-header-wrapper">
    <mat-card-title class="product-menu-card-title">Shiba Inu</mat-card-title>
    <mat-card-subtitle class="product-menu-card-subtitle">Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <div class="product-menu-card-image-wrapper">
    <img class="product-menu-card-image" mat-card-image
         src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  </div>
  <mat-card-content class="product-menu-card-content">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>
