<mat-card class="product-menu-card-wrapper" (click)="openOrderDialog()">
  <mat-card-header class="product-menu-card-header-wrapper">
    <mat-card-title class="product-menu-card-title">{{product.name}}</mat-card-title>
  </mat-card-header>
  <div class="product-menu-card-image-wrapper">
    <img class="product-menu-card-image" mat-card-image
         src="{{product.image}}">
  </div>
  <mat-card-content class="product-menu-card-content">
    <p>
      {{product.description}}
    </p>
  </mat-card-content>
</mat-card>
